* {
	box-sizing: border-box;
}

body{
	background-color: hsl(210, 46%, 95%);
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-size: 13px;
}

.container__cards{
	display: grid;
	column-gap: 20px;
	grid-template-rows: repeat(auto-fit, 290px);
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-auto-flow: dense;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	width: 90%;
}

.card{
	border-radius: 10px;
	margin-bottom: 1.5rem;
	padding: 0px 35px 5px 25px;
	text-align: left;
	width: 100%;
}

.card--size-small{
	grid-column: auto / span 2;
	max-height: 250px;
	width: 100%;
}

.card--size-medium{
	max-width: 550px;
}

.card--size-large{
	width: 100%;
}

@media (min-width: 600px){
	.card--size-large, .card--size-small{ 
		max-width: 250px;
	}
}

.card__profilepic{
	border-radius: 50%;
	width: 30px;
}

.card__title{
	display: inline-block;
	font-size: 0.9rem;
	font-weight: 500;
	padding-top: 10px;
	padding-left: 15px;
}

.card__title-status{
	display: block;
	font-size: 0.7rem;
}

.card__title-status--opacity-less{
	color: hsl(0, 0%, 81%, 0.5);
}

.card__text-main{
	font-size: 1.2rem;
	font-weight: 600;
	margin-top: 0;
}

.text-second--gray-less{
	color: hsl(0, 0%, 81%, .7);
}

.text-second--darkgray-less{
	color: hsl(217, 19%, 35%, .7);
}

.text--display-block{
	display: block
}

.text--color-darkgrayblue{
	color: hsl(217, 19%, 35%);
}

.text--color-gray{
	color: hsl(0, 0%, 81%);
}

.text--color-grayblue{
	color: hsl(210, 46%, 95%);
}

.card--color-violet{
	background-color: hsl(263, 55%, 52%);
	background-image: url(/images/bg-pattern-quotation.svg);
	background-repeat: no-repeat;
	background-position: top 0 right 20px;
}

.card--color-grayblue{
	background-color: hsl(217, 19%, 35%);
}

.card--color-white{
	background-color: hsl(0, 0%, 100%);
}

.card--color-blackblue{
	background-color: hsl(219, 29%, 14%);
}