* {
	box-sizing: border-box;
}

body{
	background-color: hsl(210, 46%, 95%);
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-size: 13px;
}

.container__cards{
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	width: 90%;
}

.card{
	border-radius: 10px;
	margin-bottom: 1.5rem;
	padding: 0px 35px 25px 25px;
	width: 100%;
}

.card__profilepic{
	border-radius: 50%;
	width: 10%;
}

.card__title{
	display: inline-block;
	font-size: 0.9rem;
	font-weight: 500;
	padding-top: 10px;
	padding-left: 15px;
}

.card__title-status{
	color: hsl(0, 0%, 81%);
	display: block;
	font-size: 0.7rem;
}

.card__text-main{
	font-size: 1.2rem;
	font-weight: 600;
	margin-top: 0;
	text-align: left;
}

.text--display-block{
	display: block
}

.card__quotes{
	right: 1.6rem;
	position: absolute;
	top: 0;
}

.card--color-violet{
	background-color: hsl(263, 55%, 52%);
	position: relative;
}

.card--color-grayblue{
	background-color: hsl(217, 19%, 35%);
}

.card--color-white{
	background-color: hsl(0, 0%, 100%);
}

.card--color-blackblue{
	background-color: hsl(219, 29%, 14%);
}