body {
  background-color: #0f1424;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
}

.container {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
@media (min-width: 640px) {
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 280px);
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 80%;
  }
}

.profile {
  background-color: #1c1f4a;
  border-radius: 0.8rem;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
@media (min-width: 640px) {
  .profile {
    margin-top: 1rem;
    grid-row: span 2;
  }
}
.profile .profile__data {
  background-color: #5847eb;
  border-radius: 0.8rem;
  display: flex;
  padding: 1.8rem;
}
@media (min-width: 640px) {
  .profile .profile__data {
    display: block;
  }
}
.profile .profile__title {
  color: #bdc1ff;
  font-size: 1rem;
  font-weight: 400;
  padding-left: 1.3rem;
}
@media (min-width: 640px) {
  .profile .profile__title {
    margin-top: 1.5rem;
    padding-left: 0;
  }
}
.profile .profile__name {
  color: #f7f2f2;
  display: block;
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 0.2rem;
}
@media (min-width: 640px) {
  .profile .profile__name {
    font-size: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 640px) {
  .profile .profile__lastname {
    display: block;
  }
}
.profile .profile__image {
  border: solid 3px #fff;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
}
.profile .profile__time {
  color: #6f76c8;
}
@media (min-width: 640px) {
  .profile .profile__time {
    cursor: pointer;
    margin-bottom: 1rem;
  }
  .profile .profile__time:hover {
    color: #f7f2f2;
  }
}

ol {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  text-align: center;
  padding: 1.5rem 1.8rem;
  margin: 0;
}
@media (min-width: 640px) {
  ol {
    flex-direction: column;
    text-align: left;
  }
}

.card--background-orange {
  background-color: #ff8c66;
  background-image: url(/images/icon-work.svg);
}

.card--background-blue {
  background-color: #56c2e6;
  background-image: url(/images/icon-play.svg);
}

.card--background-pink {
  background-color: #ff5c7c;
  background-image: url(/images/icon-study.svg);
}

.card--background-green {
  background-color: #4acf81;
  background-image: url(/images/icon-exercise.svg);
}

.card--background-violet {
  background-color: #7536d3;
  background-image: url(/images/icon-social.svg);
}

.card--background-yellow {
  background-color: #f1c65b;
  background-image: url(/images/icon-self-care.svg);
}

.card {
  background-position: 95% -5%;
  background-repeat: no-repeat;
  border-radius: 0.8rem;
  color: #f7f2f2;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.8rem;
  width: 95%;
}
@media (min-width: 640px) {
  .card {
    max-width: 280px;
  }
}
.card .card__current {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 640px) {
  .card .card__current {
    margin-bottom: 0.7rem;
  }
}
.card .card__past {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 640px) {
  .card .card__past {
    flex-direction: column;
  }
}
.card .card__info {
  background-color: #1c1f4a;
  border-radius: 0.8rem;
  padding: 1.6rem 1.2rem;
}
@media (min-width: 640px) {
  .card .card__info:hover {
    background-color: #272d6a;
    cursor: pointer;
  }
}
.card .card__title {
  font-size: 1rem;
  margin: 0;
}
.card .card__hours {
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
  margin-top: 0.5rem;
}
@media (min-width: 640px) {
  .card .card__hours {
    font-size: 3rem;
  }
}
.card .card__more {
  height: 5px;
}
.card .card__time {
  color: #bdc1ff;
  font-size: 0.9rem;
  margin: 0;
  margin-top: 1.3rem;
}
@media (min-width: 640px) {
  .card .card__time {
    margin-top: 0.3rem;
  }
}

/*# sourceMappingURL=styles.css.map */
