* {
    box-sizing: border-box;
}

:root{
    --darkgraycyan: hsl(186, 14%, 43%);
    --darkgraycyantwo: hsl(184, 14%, 56%);
    --lightgraycyan: hsl(185, 41%, 84%);
    --lightgraycyantwo: hsl(189, 41%, 97%);
    --verydarkcyan: hsl(183, 100%, 15%);
    --white: hsl(0, 0%, 100%);
}

html{
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    background-color: var(--lightgraycyan);
}

.title{
    color: var(--darkgraycyan);
    font-size: 0.7em;
    letter-spacing: 5px;
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
}

.title--flow-wrap{
    display: block;
}

.calculator{
    background-color: var(--white);
    border-radius: 15px;
    padding: 0.2rem 1.4rem 1rem 1.4rem;
    text-align: center;
    width: 100%;
}

.bill__subtitle{
    color: var(--darkgraycyantwo);
    font-size: 0.5rem;
    font-weight: 600;
    margin-top: 25px;
    text-align: left;
}

.input{
    background-color: var(--lightgraycyantwo);
    border: 1px solid var(--lightgraycyantwo);
    border-radius: 5px;
    color: var(--darkgraycyantwo);
    height: 35px;
    text-align: right;
    width: 100%;
}

.bill__percentage{
    background-color: var(--verydarkcyan);
    border-radius: 5px;
    color: var(--white);
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 700;
    height: 40px;
    margin-bottom: .5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.4rem;
    text-align: center;
    width: 139px;
}

.custom{
    background-color: var(--lightgraycyantwo);
    border: 1px solid var(--lightgraycyantwo);
    color: var(--verydarkcyan);
    padding-right: .5rem;
    text-align: right;
}

.bill__input-top, .bill__input-bottom{
    position: relative;
}

.icon{
    color: var(--darkgraycyantwo);
    position: absolute;
    top: 7px;
    left: 15px;
}

.result{
    background-color: var(--verydarkcyan);
    border-radius: 10px;
    padding: .9rem 0.9rem;
    margin-top: 1.1rem;
}

.result__section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.result__section-display{
    color: hsl(172, 67%, 45%);
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    text-align: right;
    width: 60%;
}

.result__section-text{
    color: var(--white);
    font-size: 0.6rem;
    font-weight: 600;
    text-align: left;
    width: 30%;
}

.result__section-text-person{
    color: var(--darkgraycyantwo);
    display: block;
    font-size: 0.5rem;
}

.result__reset{
    background-color: hsl(172, 67%, 45%, .2);
    border-radius: 5px;
    color: hsl(183, 100%, 15%);
    font-size: 0.7rem;
    margin: 2.4rem auto 0 auto;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    text-transform: uppercase;
}