*{
    box-sizing: border-box;
}

:root{
    --buttonhover: #9fe8df;
    --darkgraycyan: hsl(186, 14%, 43%);
    --darkgraycyantwo: hsl(184, 14%, 56%);
    --lightgraycyan: hsl(185, 41%, 84%);
    --lightgraycyantwo: hsl(189, 41%, 97%);
    --strongcyan: hsl(172, 67%, 45%);
    --transpcyan: hsl(172, 67%, 45%, .2);
    --verydarkcyan: hsl(183, 100%, 15%);
    --white: hsl(0, 0%, 100%);
}

html{
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    background-color: var(--lightgraycyan);
}

.title{
    color: var(--darkgraycyan);
    font-size: 0.7em;
    letter-spacing: 5px;
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
}

.title--flow-wrap{
    display: block;
}

.calculator{
    background-color: var(--white);
    border-radius: 15px;
    padding: 0.2rem 1.4rem 1rem 1.4rem;
    text-align: center;
    width: 100%;
}

.bill__input{
    position: relative;
}

.bill__subtitle{
    color: var(--darkgraycyantwo);
    font-size: 0.5rem;
    font-weight: 600;
    margin-top: 25px;
    text-align: left;
}

.input{
    background-color: var(--lightgraycyantwo);
    border: 1px solid var(--lightgraycyantwo);
    border-radius: 5px;
    color: var(--verydarkcyan);
    cursor: pointer;
    font-weight: 700;
    height: 35px;
    text-align: right;
    width: 100%;
}

.input[type=number]{
    -moz-appearance: textfield;
}

.bill__percentage{
    background-color: var(--verydarkcyan);
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 700;
    height: 40px;
    margin-bottom: .5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.4rem;
    text-align: center;
    width: 139px;
}

.bill__percentage:active{
    background-color: white;
}

.custom{
    background-color: var(--lightgraycyantwo);
    border: 1px solid var(--lightgraycyantwo);
    caret-color: var(--strongcyan);
    color: var(--verydarkcyan);
    padding-right: .5rem;
    text-align: right;
}

.custom:focus, .input-bill:focus{
    border: 2px solid var(--strongcyan);
}

.icon{
    color: var(--darkgraycyantwo);
    position: absolute;
    top: 7px;
    left: 15px;
}

.result{
    background-color: var(--verydarkcyan);
    border-radius: 10px;
    padding: .9rem 0.9rem;
    margin-top: 1.1rem;
}

.result__section{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.result__section-display{
    color: var(--strongcyan);
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    text-align: right;
    width: 60%;
}

.result__section-text{
    color: var(--white);
    font-size: 0.6rem;
    font-weight: 600;
    text-align: left;
    width: 30%;
}

.result__section-text-person{
    color: var(--darkgraycyantwo);
    display: block;
    font-size: 0.5rem;
}

.result__reset{
    background-color: var(--transpcyan);
    border-radius: 5px;
    color: var(--verydarkcyan);
    cursor: pointer;
    font-size: 0.7rem;
    margin: 2.4rem auto 0 auto;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    text-transform: uppercase;
}

@media (min-width: 668px){
    .title{
        margin-top: 100px;
    }

    .calculator{
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        width: 670px;
    }

    .bill{
        width: 48%;
    }

    .bill__percentage-container{
        text-align: left;
        width: 100%;
    }

    .bill__percentage{
        width: 86px;
    }

    .result{
        width: 50%;
    }

    .result__reset{
        position: relative;
        bottom: -30px;
    }

    .result__reset:hover, .bill__percentage:hover{
        background-color: var(--buttonhover);
        color: var(--verydarkcyan);
    }

    .custom:hover{
      background-color: var(--lightgraycyantwo);
    }
}