*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
	background-color: hsl(0, 100%, 74%) ;
	background-image: url("images/bg-intro-mobile.png");
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-size: 10px;
	text-align: center;
}

.container{
	margin: 50px auto 40px auto;
	width: 85%;
}

h2{
	font-size: 2em;
	padding: 0 60px;
}

article p{
	font-size: 1.1em;
	font-weight: 500;
	line-height: 1.5;
	padding: 2em 4em;
}

.promo{
	background-color: hsl(248, 32%, 49%);
	border-radius: 5px;
	font-size: 1.2em;
	margin-top: 1em;
	margin-bottom: 2em;
	padding: 1em 7em 1em 7em;
}

.bold{
	font-weight: 600;
}

.register-section__form{
	background-color: #fff;
	border-radius: 7px;
	padding-top: 20px;
}

.register-section__data{
	margin-bottom: 15px;
}

.register-section__data input{
	border: 1px solid rgb(236, 236, 236);
	border-radius: 5px;
	font-weight: 600;
	font-size: 1em;
	padding: 15px 10px;
	width: 85%;
}

.register-section__data input:focus{
	border: 1px solid hsl(248, 32%, 49%);
	outline: none;
}

#button{
	background-color: hsl(154, 59%, 51%);
	border: hsl(154, 59%, 51%);
	border-radius: 7px;
	color: #fff;
	cursor: pointer;
	font-size: 1.1em;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#conditions{
	color: hsl(246, 25%, 77%);
	font-size: 0.9em;
	padding: 0 4em 2em 4em;
}

.terms{
	color: hsl(0, 100%, 74%);
	font-weight: 700;
}

@media (min-width: 680px){
	.container{
		display: flex;
		justify-content: center;
		margin: 120px auto;
		width: 100%;
	}

	article{
		text-align: left;
		padding-top: 150px;
		width: 50%;
	}

	article > p{
		font-size: 1.4em;
	}

	h2{
		font-size: 3em;
	}

	.register-section{
		width: 30%;
	}
}