@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
	background-color: hsl(210, 46%, 95%);
	font-family: 'Manrope', sans-serif;;
	font-size: 12px;
}

h2{
	color: hsl(217, 19%, 35%);
	font-size: 1.4em;
	font-weight: 700;
	margin-bottom: 15px;
}

.text > p{
	color: hsl(214, 17%, 51%);
	font-size: 1.1em;
	font-weight: 500;
	line-height: 1.5;
	padding-right: 25px;
}

.container{
	background-color: #fff;
	border-radius: 0 0 10px 10px;
	margin: 80px auto 50px auto;
	position: relative;
	width: 90%;
}

.image-container{
	height: 230px;
	width: 100%;
	background-image: url("images/drawers.jpg");
	background-position: top -17px left 0;
	background-repeat: cover;
	background-size: cover;
	border-radius: 10px 10px 0 0;
}

.text{
	padding: 30px;
}

.bottom-section{
	display: flex;
	justify-content: space-between;
}

.profile{
	display: flex;
	justify-content: start;
	padding: 10px 35px;
}

.person{
	padding: 0px 15px;
}

.name{
	color: hsl(217, 19%, 35%);
	font-size: 1.1em;
	font-weight: 700;
	margin-bottom: 3px;
	word-spacing: 2px;
}

.date{
	color: hsl(212, 23%, 69%);
	font-weight: 500;
	word-spacing: 1px;
}

.profile-image img{
	border-radius: 50%;
	height: 40px;
	width: 40px;
}

.share-button{
	background-color: hsl(210, 46%, 95%);
	border-radius: 50%;
	height: 31px;
	margin-top: 10px;
	margin-right: 35px;
	padding: 8px 0 0 8px;
	width: 31px;
}

#icon{
	color: hsl(214, 17%, 51%);
}

.social-media{
	display: none;
}