/* Colors */
$softcyan: hsl(174, 77%, 80%);
$strongcyan: hsl(174, 86%, 45%);
$lightgrayred: hsl(14, 92%, 95%);
$lightred: hsl(15, 100%, 70%);
$paleblue: hsl(226, 100%, 87%);
$white: hsl(0, 0%, 100%);
$verypaleblue: hsl(230, 100%, 99%);
$lightgrayblue: hsl(224, 65%, 95%);
$lighttoggleblue: hsl(223, 50%, 87%);
$grayblue: hsl(225, 20%, 60%);
$darkblue: hsl(227, 35%, 25%);



.body{
	background: url(../images/pattern-circles.svg);
	background-color: $verypaleblue;
	background-position: top 3.3rem left 50%;
	background-repeat: no-repeat;
	background-size: 35%;
	font-family: 'Manrope', sans-serif;
	font-size: 15px;
	text-align: center;
}

.main__title{
	color: $darkblue;
	font-size: 1.1rem;
	margin-top: 5rem;
	#{&}-sub {
		color: $grayblue;
		display: block;
		font-size: .7rem;
		font-weight: 600;
		margin-top: .1rem;
	}
}

.container{
	background-color: $white;
	border-radius: 5px;
	color: $grayblue;
	font-weight: 600;
	font-size: .7rem;
	margin-top: 5rem;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.fee__price{
	color: $darkblue;
	font-size: 1.8rem;
	font-weight: 800;
}

.trial__advantages{
	list-style-image: url(../images/icon-check.svg);
}