/* Colors */
$softcyan: hsl(174, 77%, 80%);
$strongcyan: hsl(174, 86%, 45%);
$lightgrayred: hsl(14, 92%, 95%);
$lightred: hsl(15, 100%, 70%);
$paleblue: hsl(226, 100%, 87%);
$white: hsl(0, 0%, 100%);
$verypaleblue: hsl(230, 100%, 99%);
$lightgrayblue: hsl(224, 65%, 95%);
$lighttoggleblue: hsl(223, 50%, 87%);
$grayblue: hsl(225, 20%, 60%);
$darkblue: hsl(227, 35%, 25%);

.body{
	background: url(../images/pattern-circles.svg), url(../images/bg-pattern.svg);
	background-color: $verypaleblue;
	background-position: top 3.3rem left 50%, top 0 left 0;
	background-repeat: no-repeat;
	background-size: 35%, auto 20rem;
	font-family: 'Manrope', sans-serif;
	font-size: 15px;
	text-align: center;
}

.main__title{
	color: $darkblue;
	font-size: 1.1rem;
	margin-top: 5rem;
	#{&}-sub {
		color: $grayblue;
		display: block;
		font-size: .7rem;
		font-weight: 600;
		margin-top: .1rem;
	}
}

.container{
	background-color: $white;
	border-radius: 5px;
	box-shadow: 1px 1px 2px rgb(235, 233, 233);
	color: $grayblue;
	font-weight: 600;
	font-size: .7rem;
	margin-top: 4.5rem;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1rem;
	padding-bottom: 1.7rem;
	width: 90%;
}

.views__amount{
	font-size: .7rem;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.fee__price{
	color: $darkblue;
	font-size: 1.8rem;
	font-weight: 800;
}

.permonth, .checkbox, .peryear{
	display: inline-block;
}

.peryear__discount{
	background-color: $lightgrayred;
	border-radius: 10px;
	color: $lightred;
	padding: 2px 5px;
}

.trial__advantages{
	list-style-image: url(../images/icon-check.svg);
	list-style-position: outside;
	padding-left: 0;
}

.advantage{
	line-height: 2;
	padding-left: .7rem;
}

.trial__button{
	background-color: $darkblue;
	border-radius: 25px;
	color: $paleblue;
	font-size: .7rem;
	margin-top: 1.5rem;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 30px;
	width: 100px;
}